@model IEnumerable<Product>

    <div>
        <h1>Order Total: @ViewBag.Total AZN <span><a style="margin-bottom:2px" asp-route-controller="Home" asp-route-action="Buy" class="btn btn-primary">Buy</a></span></h1>
        <br />
    </div>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;float:left; margin:5px;">
        <img src="~/Uploads/@item.ImageUrl" class="card-img-top" style="height:200px;" alt="...">
        <br />
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <br />
            <p class="card-text">@item.Price AZN</p>
            <br />
            <a asp-route-controller="Home" asp-route-action="Remove" asp-route-id="@item.Id" class="btn btn-primary">Remove</a>
        </div>
    </div>

}
